name: build
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 0 * * *'
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check README is updated
        run: ./gen_readme.py | diff README.md -
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml
      - name: Check links
        run: ./check_links.py
